<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= driver.firstName %> <%= driver.lastName %></h1>
  <p>Email: <%= driver.email %></p>

  <h3>Vehicles:</h3>
  <ul>
    <% driver.vehicles.forEach(function(vehicle) { %>
      <li>
        <a href="/vehicles/<%= vehicle._id %>"><%= vehicle.make %> <%= vehicle.model %></a>
      </li>
    <% }) %>
  </ul>

<h3>Add a Vehicle</h3>
<form action="/drivers/<%= driver._id %>/vehicles" method="POST">
  <label for="make">Make:</label>
  <input type="text" name="make" required>
  
  <label for="model">Model:</label>
  <input type="text" name="model" required>
  
  <label for="class">Class:</label>
  <input type="text" name="class" required>
  
  <label for="number">Number:</label>
  <input type="number" name="number" required>
  
  <label for="vin">VIN:</label>
  <input type="text" name="vin" required>
  
  <button type="submit">Add Vehicle</button>
</form>

  <a href="/drivers/<%= driver._id %>/edit">Edit</a>
  <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/drivers">Back to Drivers</a>
</body>
</html>
