<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= driver.firstName %> <%= driver.lastName %></h1>
  <p>Email: <%= driver.email %></p>

  <h3>Vehicles:</h3>
  <ul>
    <% driver.vehicles.forEach(function(vehicle) { %>
      <li>
        <a href="/vehicles/<%= vehicle._id %>"><%= vehicle.make %> <%= vehicle.model %></a>
      </li>
    <% }) %>
  </ul>

  <a href="/drivers/<%= driver._id %>/edit">Edit</a>
  <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/drivers">Back to Drivers</a>
</body>
</html>
