<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1><%= driver.firstName %> <%= driver.lastName %></h1>
<div class="container">
  <h2>Contact info</h2>
  <p>Email: <%= driver.email %></p>
  <h2>Vehicles</h2>
  <ul>
    <% driver.vehicles.forEach(vehicle => { %>
      <li>
        <a href="/drivers/<%= driver._id %>/vehicles/<%= vehicle._id %>"><%= vehicle.make %> <%= vehicle.model %></a>
      </li>
    <% }) %>
  </ul> 
  <a 
  href="/drivers/<%= driver._id %>/vehicles/new" class="button-link">
    <button>Add a New Vehicle</button>
  </a>
  <a 
  href="/drivers/<%= driver._id %>/edit" class="button-link">
    <button>Edit Driver</button>
  </a>
  <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Driver</button>
  </form>
</div>
</body>
</html>