<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>Driver: <%= driver.firstName %> <%= driver.lastName %></h1>
<h2>Vehicles:</h2>
<ul>
  <% driver.vehicles.forEach(vehicle => { %>
    <li><a href="/vehicles/<%= vehicle._id %>"><%= vehicle.make %> <%= vehicle.model %> (VIN: <%= vehicle.vin %>)</a></li>
  <% }) %>
</ul>
<a href="/vehicles/new?driverId=<%= driver._id %>">Add a new vehicle</a>
  <a href="/drivers/<%= driver._id %>/edit"><button type="submit">Edit</button></a>
  <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <a href="/drivers">Back to Drivers</a>
</body>
</html>
