<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Vehicles</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>All Vehicles</h1>
  <div class="container">
    <ul>
      <% vehicles.forEach(vehicle => { %>
        <li>
          <a href="/drivers/<%= vehicle.driver._id %>/vehicles/<%= vehicle._id %>">
            <%= vehicle.make %> <%= vehicle.model %> - Driver: <%= vehicle.driver.firstName %> <%= vehicle.driver.lastName %>
          </a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>
