<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicles</title>
</head>
<body>
  <h1>Vehicles</h1>
  <ul>
    <% vehicles.forEach(function(vehicle) { %>
      <li>
        <a href="/vehicles/<%= vehicle._id %>"><%= vehicle.make %> <%= vehicle.model %> - <%= vehicle.vin %></a>
        <form action="/vehicles/<%= vehicle._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <a href="/vehicles/<%= vehicle._id %>/edit">Edit</a>
      </li>
    <% }) %>
  </ul>
  <a href="/vehicles/new">Add New Vehicle</a>
</body>
</html>
