<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vehicle Info</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>
    <%= vehicle.make %> <%= vehicle.model %>
  </h1>
  <div class="container">
    <p>VIN: <%= vehicle.vin %></p>
    <p>Class: <%= vehicle.class %></p>
    <p>Number: <%= vehicle.number %></p>
    <form action="/drivers/<%= vehicle.driver._id %>/vehicles/<%= vehicle._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Vehicle</button>
    </form>
  </div> 
</body>
</html>